# tesselator offsets
public net.minecraft.client.renderer.Tessellator field_78408_v
public net.minecraft.client.renderer.Tessellator field_78407_w
public net.minecraft.client.renderer.Tessellator field_78417_x

# GUI stuff for item scale
protected net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V # drawSlot

# Checking if a resource exists
public net.minecraft.client.resources.SimpleReloadableResourceManager field_110548_a # domainResourceManagers
public net.minecraft.client.resources.FallbackResourceManager field_110540_a # resourcePacks
